<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-EDHWHQ1H31"
    ></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="CodeHim" />

    <link rel="stylesheet" href="/styles.css" />
    <title>Shopping Cart</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- Demo CSS (No need to include it into your project) -->
  </head>
  <body>
   
        <%- include('partials/header') %>
      

    <main style="padding-top: 120px;">
      

      <!-- <section class="product"> -->
        <!-- <img src="product1.jpg" alt="Gift 1" /> -->

        <% display.forEach((item)=>{%>

          <% for (var i =0; i <1;  i++ ) { %>

            <section class="product">
          <!-- <section class="product"></section> -->
        <h2><%= item.ProductName %></h2>
        <img src="<%= item.ImageUrl %>" alt="image-url" />
        <p>₹<%= item.Price %></p>

      </section>

        <% } %>

        <%})%>

      <!-- </section> -->

        
      <!-- </section> -->

      
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
